@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: black; /* Ensures the entire page has a black background */
  }
  
@keyframes pulse {
  0%, 100% {
    transform: scale(0.75);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}
